header{
    position: fixed;
    width: 100%;
    height: 70px;
    margin-top: 200;
    margin-left: -8px;
    background-color: blue;
}
.mainSite{
    margin-left: 25px;
    margin-top: 5px;
    height: 60px;
    background: none;
    border-style: solid;
    cursor: pointer;
    border-width: 0px;
    color: aqua;
}
.navButton1{
    margin-top: 0px;
    background: none;
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    height: 30px;
}
body{
    background-image: url(./png/background.png);
}
nav{
    height: 70px;
    background-color: red;
    width: 400px;
    margin-left: 1400px;
}
.mainLogoImg{
    height: 70px;
    margin-left: 25px;
    margin-top: 1px;
}