header{
    position: fixed;
    background-color: blue;
    width: 100%;
    height: 70px;
    margin-top: 200;
    margin-left: -8px;
}
.mainSite{
    margin-left: 25px;
    margin-top: 5px;
    height: 60px;
    background: none;
    border-style: solid;
    cursor: pointer;
    border-width: 0px;
}
.navButton1{
    margin-left: 1700px;
    margin-top: 10px;
    background: none;
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    height: 30px;
}