header{
    position: fixed;
    background-color: blue;
    width: 100%;
    height: 70px;
    margin-top: 200;
    margin-left: -8px;
}
button{
    margin-left: 25px;
    margin-top: 5px;
    height: 60px;
    background: none;
    border-style: solid;
    cursor: pointer;
    border-width: 0px;
}