h1{
    text-align: center;
}
.screenPreview{
    height: 100px;
    background-color: blue;
    margin-top: 60px;
    text-align: center;
}
.steenDiv{
    height: 100px;
    width: 120px;
    background-color: red;
    margin: 1920px;   
}
.papierDiv{
    height: 100px;
    width: 120px;
    background-color: red;
    margin: 1280px;   
}
.schaarDiv{
    height: 100px;
    width: 120px;
    background-color: red;
    margin: 640px   
}